* {
    padding: 0%;
    margin: 0%;
}


body {
    background: url(../upload/img01.jpg) no-repeat center fixed;
    background-size: cover;
}

section.campo_fora {
    display: block;
    background-color: white;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    min-width: 400px;
    min-height: 500px;

}

input#hide {
    position: relative;
    border-radius: 17%;
    left: 227px;
    font-size: 30px;
    background-color: rgb(54, 50, 50);
    color: white;
    text-shadow: -4px -1px 0px #c52626;

}

.form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background-color: #2b3131fd;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.form>h2 {
    font-size: 30px;
    width: 50%;
    left: 25%;
    position: absolute;
    border-radius: 50px;
    background-color: #1341d6;
    color: #e92a08;
    font-weight: 500;
    align-items: center;
    letter-spacing: 0.1em;
}

.inputs {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.inputs >input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #191a1b;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.inputs >span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.inputs i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #378827;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputs> input:valid ~ i,
.inputs> input:focus ~ i {
  height: 44px;
}
input[type="submit"] {
  border: 1px solid #45f3ff;
  outline: none;
  background: transparent;
  color:#f70e0e;
  padding: 11px 25px;
  width: 100px;
  margin-top: 10px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: all .3s ease;
}
input[type="submit"]:hover{
background: #fc0000;
color: #dadada;
}
input[type="submit"]:active {
  opacity: 0.8;
}
